@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Articulat-regular";
  src: url("./assets/fonts/Articulat/Articula_Regular.otf");
}

@font-face {
  font-family: "Articulat-semibold";
  src: url("./assets/fonts/Articulat/Articulat_Semi_Bold.otf");
}

@font-face {
  font-family: "Articulat-Extrabold";
  src: url("./assets/fonts/Articulat/Articulat_Extra_Bold.otf");
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Inter";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
